  <!-- Breadcrumbs
      ============================================= -->

      <section class="breadcrumbs">
        <div class="container">
          
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home  </a></li>
                  <li class="breadcrumb-item active pr-2" aria-current="page">{{ movieData.title }} </li>
                </ol>
              </nav> <!-- /.Breadcrumb -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </section> <!-- /.Breadcrumbs -->
    
    
      <!-- Trailer
      ============================================= -->
        <section class="section section--trailer">
          <div class="container">
    
            <div class="row align-items-center">
    
              <div class="col-md-6">
                <h1 class="section__title text-left m-0">
                  {{ movieData.title }}
                </h1>
              </div> <!-- /.col -->
    
              <div class="col-md-6 d-flex justify-content-end">
                <a href="#book" class="btn btn-primary btn--book w-sm-100">
                  Book now
                </a>
              </div> <!-- /.col -->
            </div> <!-- /.row-book -->
    
            <div class="row trailer-row">
              <div class="col">
                <div class="video-responsive">
                  <iframe [src]="movieData.trailer | safe"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> 
              </div> <!-- /.col -->
            </div> <!-- /.row- trailer -->
          </div> <!-- /.container -->
        </section> <!-- /.trailer -->
    
    
        <!-- Movie Info
      ============================================= -->
    
      <section class="section section--movie">
        <div class="container">
          <div class="info">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <h2 class="info__title">More information about</h2>
                
                <div class="row m-0">
                  <div class="col-sm-6 px-0">
                    <h4 class="info__label">
                      Release date:
                    </h4>
    
                    <p class="info__item">
                      {{ movieData.releaseDate }}
                    </p>
                  </div>
    
                  <div class="col-sm-6 px-0">
                    <h4 class="info__label">
                      Running time:
                    </h4>
    
                    <p class="info__item">
                      {{ movieData.duration }}
                    </p>
                  </div>
                </div>
    
                <p class="info__description">
                  {{ movieData.synopsis }}
                </p>
    
                <div class="table-responsive">
                  <table class="info__table table table-dark">
                    <tbody>
                      <tr>
                        <td  class="info__table-cell" scope="row">Original title:</td>
                        <td>{{ movieData.title }}</td>
                      </tr>
    
                      <tr>
                        <td  class="info__table-cell" scope="row">Movie genre:</td>
                        <td>{{ movieData.genre }}</td>
                      </tr>
    
                      <tr>
                        <td  class="info__table-cell" scope="row">Cast:</td>
                        <td>
                          {{ movieData.cast }}</td>
                      </tr>
    
                      <tr>
                        <td  class="info__table-cell" scope="row">Director:</td>
                        <td>
                          {{ movieData.director }}
                        </td>
                      </tr>
    
                      <tr>
                        <td  class="info__table-cell" scope="row">Production:</td>
                        <td>
                          {{ movieData.production }}
                        </td>
                      </tr>
    
                      <tr>
                        <td  class="info__table-cell" scope="row">Age restrictions:</td>
                        <td>
                          {{ movieData.restrictions }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
      
              </div> <!-- /.col-details-->
      
              <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="info__cover">
                  <img src="{{ movieData.cover }}" alt="Movie Cover" class="img-fluid">
                </div>
              </div> <!-- /.col cover-->
            </div> <!-- /.row-->
          </div> <!-- /.info-->
        </div> <!-- /.container-->
      </section> <!-- /.Movie Info -->
    