 <!-- Breadcrumbs
      ============================================= -->

      <section class="breadcrumbs">
        <div class="container">
          
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active"><a href="#"> Black Widow</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Tickets</li>
                </ol>
              </nav> <!-- /.Breadcrumb -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </section> <!-- /.Breadcrumbs -->
    
    
      <!-- Seats
      ============================================= -->
        <section class="section section--seats">
          <div class="container">
    
            <div class="row align-items-center">
    
              <div class="col-lg-6">
                <div class="schedule">
                  <h2 class="schedule__title">
                    Black Widow
                  </h2>
                  <div class="schedule__label">
                    Please Choose A Time
                  </div>
                  
                  <div class="time-box">
                    <button class="btn btn-outline-primary">3:00pm</button>
                    <button class="btn btn-outline-primary">6:00pm</button>
                    <button class="btn btn-outline-primary">9:00pm</button>
                    <button class="btn btn-outline-primary active">11:30pm</button>
                  </div>
    
                  <div class="schedule__label">
                    How Many Tickets?
                  </div>
    
                  <div class="tickets">
                    <div class="tickets__category">
                      Adult
                    </div>
    
                    <div class="tickets__amount">
                      <input class="form-control" type="number">
                    </div>
    
                    <div class="tickets__calcu">
                      1 x $15.03
                    </div>
    
                    <div class="tickets__total">
                      = $15.03
                    </div>
                  </div>
    
                  <div class="tickets">
                    <div class="tickets__category">
                      Child
                    </div>
    
                    <div class="tickets__amount">
                      <input class="form-control" type="number">
                    </div>
    
                    <div class="tickets__calcu">
                      1 x $15.03
                    </div>
    
                    <div class="tickets__total">
                      = $15.03
                    </div>
                  </div>
    
    
                  <div class="tickets">
                    <div class="tickets__category">
                      Senior
                    </div>
    
                    <div class="tickets__amount">
                      <input class="form-control" type="number">
                    </div>
    
                    <div class="tickets__calcu">
                      1 x $15.03
                    </div>
    
                    <div class="tickets__total">
                      = $15.03
                    </div>
                  </div>
                </div>
              </div> <!-- /.col -->
    
              <div class="col-lg-6">
                <div class="chairs">
                  <div class="row">
                    <div class="col">
                      <div class="chairs__grid">
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat"></div>
                        <div class="chairs__seat reserved"></div>
                        <div class="chairs__seat"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /.col -->
            </div> <!-- /.row-seats -->
          </div> <!-- /.container -->
        </section> <!-- /.seats -->