 <!-- Breadcrumbs
      ============================================= -->

      <section class="breadcrumbs">
        <div class="container">
          
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                  <li class="breadcrumb-item active">
                    <a [routerLink]="['/movies', movieData.slug]"> 
                    {{ movieData.title }}</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page"> Tickets</li>
                </ol>
              </nav> <!-- /.Breadcrumb -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </section> <!-- /.Breadcrumbs -->
    
    
      <!-- Seats
      ============================================= -->
        <section class="section section--seats">
          <div class="container">
    
            <div class="row align-items-center">
    
              <div class="col-lg-6">
                <div class="schedule">
                  <h2 class="schedule__title">
                    {{ movieData.title }}
                  </h2>
                  <div class="schedule__label">
                    Please Choose A Time
                  </div>
                  
                  <div class="time-box">
                    <button 
                      (click)="pickTime('3:00pm')" 
                      class="btn btn-outline-primary" 
                      [ngClass]="{ 'active' : time == '3:00pm'}"
                    >3:00pm</button>

                    <button 
                      (click)="pickTime('6:00pm')" 
                      class="btn btn-outline-primary" 
                      [ngClass]="{ 'active' : time == '6:00pm'}"
                    >6:00pm</button>

                    <button 
                      (click)="pickTime('9:00pm')"  
                      class="btn btn-outline-primary"
                      [ngClass]="{ 'active' : time == '9:00pm'}"
                    >9:00pm</button>

                    <button 
                      (click)="pickTime('11:30pm')" 
                      class="btn btn-outline-primary" 
                      [ngClass]="{ 'active' : time == '11:30pm'}"
                    >11:30pm</button>
                  </div>
    
                  <div class="schedule__label">
                    How Many Tickets?
                  </div>
    
                  <div class="tickets">
                    <div class="tickets__category">
                      Adult
                    </div>
    
                    <div class="tickets__amount">
                      <input class="form-control" type="number" value="1" [(ngModel)]="adultTickets">
                    </div>
    
                    <div class="tickets__calcu">
                      {{ adultTickets }} x ${{adultTicketsPrice}}
                    </div>
    
                    <div class="tickets__total">
                      = ${{ (adultTickets * adultTicketsPrice).toFixed(2) }}
                    </div>
                  </div>
    
                  <div class="tickets">
                    <div class="tickets__category">
                      Child
                    </div>
    
                    <div class="tickets__amount">
                      <input class="form-control" type="number" [(ngModel)]="childTickets">
                    </div>
    
                    <div class="tickets__calcu">
                      {{ childTickets }} x ${{adultTicketsPrice}}
                    </div>
    
                    <div class="tickets__total">
                      = ${{ (childTickets * childTicketsPrice ).toFixed(2) }}
                    </div>
                  </div>
    
    
                  <div class="tickets">
                    <div class="tickets__category">
                      Senior
                    </div>
    
                    <div class="tickets__amount">
                      <input class="form-control" type="number" [(ngModel)]="seniorTickets">
                    </div>
    
                    <div class="tickets__calcu">
                      {{ seniorTickets }}x ${{seniorTicketsPrice}}
                    </div>
    
                    <div class="tickets__total">
                      = ${{ (seniorTickets * seniorTicketsPrice).toFixed(2) }}
                    </div>
                  </div>
                </div>
              </div> <!-- /.col -->
    
              <div class="col-lg-6">
                <div class="chairs">
                  <div class="row">
                    <div class="col">
                      <div class="chairs__grid">
                        <ng-container *ngFor="let seat of movieData.seats; index as i">
                          <div class="chairs__seat" [ngClass]="{ 'reserved': seat === 'reserved'}" (click)="clickedSeat(movieData.slug, i)">{{i}}</div>
                        </ng-container>
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /.col -->
            </div> <!-- /.row-seats -->
          </div> <!-- /.container -->
        </section> <!-- /.seats -->