 <!-- Breadcrumbs
      ============================================= -->

      <section class="breadcrumbs">
        <div class="container">
          
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active"><a href="#"> Black Widow</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#"> Tickets</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Confirmation</li>
                </ol>
              </nav> <!-- /.Breadcrumb -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->
      </section> <!-- /.Breadcrumbs -->
    
    
      <!-- Seats
      ============================================= -->
        <section class="section section--seats">
          <div class="container">
    
            <div class="row align-items-center">
    
              <div class="col d-flex justify-content-center">
                <div class="ticket">
                  <div class="ticket__cover">
                    <img src="https://m.media-amazon.com/images/M/MV5BMzFiODE0ZDUtN2IxNC00OTI5LTg4OWItZTE2MjU4ZTk2NjM5XkEyXkFqcGdeQXVyNDYzODU1ODM@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="Ticket Image" class="img-fluid">
    
                    <div class="ticket__total">
                      $24.50
                    </div>
                  </div> <!-- /.ticket-cover -->
    
                  <div class="ticket__header">
                    <h1 class="ticket__title">
                      Black Widow</h1>
                    <div class="ticket__location">AMC Loweis Theater</div>
                  </div> <!-- /.ticket-header -->
    
                  <div class="ticket__details">
                    <div class="ticket__item">
    
                      <div class="ticket__info">
                        2
                      </div>
                      <div class="ticket__label">
                        Tickets
                      </div>
    
                    </div>
    
    
                    <div class="ticket__item">
    
                      <div class="ticket__info">
                        6 Nov
                      </div>
                      <div class="ticket__label">
                        Date
                      </div>
    
                    </div>
    
    
                    <div class="ticket__item">
    
                      <div class="ticket__info">
                       3:00pm
                      </div>
                      <div class="ticket__label">
                        Time
                      </div>
    
                    </div>
                  </div> <!-- /.ticket-details -->
    
                </div> <!-- /.ticket -->
              </div> <!-- /.col -->
    
             
            </div> <!-- /.row-seats -->
          </div> <!-- /.container -->
        </section> <!-- /.seats -->
    