  <!-- Hero
      ============================================= -->

      <section class="hero">
        <div class="carousel">
    
          <div class="carousel__item">
            <img src="assets/img/free-guy2.jpg" alt="" class="carousel__img">
          </div>  <!-- /.Slide -->
    
          <div class="carousel__item">
            <img src="assets/img/widow2.jpg" alt="" class="carousel__img">
          </div>  <!-- /.Slide -->
    
          <div class="carousel__item">
            <img src="assets/img/croods2.jpg" alt="" class="carousel__img">
          </div>  <!-- /.Slide -->
    
    
        </div>   <!-- /.carousel -->
      </section>  <!-- /.Hero -->
    
    
      <!-- Movies
      ============================================= -->
      <section class="section section--movies">
          <div class="container movies">
    
            <h2 class="section__title">
              Movies In Theater
            </h2>
    
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3" *ngFor="let movie of moviesData">
                <div (click)="selectMovie(movie.slug)" class="movie">
                  <img src="{{movie.cover}}" alt="{{ movie.title }}" class="movie__img img-fluid">
    
                  <p class="movie__title">{{ movie.title }}</p>
                </div>  <!-- /.movie -->
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.container -->
      </section>  <!-- /.Movies -->