  <!-- Hero
      ============================================= -->

      <section class="hero">
        <div class="carousel">
    
          <div class="carousel__item">
            <img src="img/free-guy2.jpg" alt="" class="carousel__img">
          </div>  <!-- /.Slide -->
    
          <div class="carousel__item">
            <img src="img/widow2.jpg" alt="" class="carousel__img">
          </div>  <!-- /.Slide -->
    
          <div class="carousel__item">
            <img src="img/croods2.jpg" alt="" class="carousel__img">
          </div>  <!-- /.Slide -->
    
    
        </div>   <!-- /.carousel -->
      </section>  <!-- /.Hero -->
    
    
      <!-- Movies
      ============================================= -->
      <section class="section section--movies">
          <div class="container movies">
    
            <h2 class="section__title">
              Movies In Theater
            </h2>
    
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BZTI0ZGIxZTEtMWQxMi00MDVhLWFmNWQtNmU5ZWNhYjJmYjJkXkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_SY1000_CR0,0,666,1000_AL_.jpg" alt="" class="movie__img img-fluid">
    
                  <p class="movie__title">Unhinged</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img class="movie__img img-fluid" src="https://m.media-amazon.com/images/M/MV5BNmMwYzFlNTEtYTc0NC00NGY4LTgzNzItZGFiYTViY2QzNzU1XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg">
    
                  <p class="movie__title">Tenet</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BMjFlZjZkMTYtODM2Zi00OTM4LWIwYTktOTFjMmQzZDEzZDc4XkEyXkFqcGdeQXVyNDg4NjY5OTQ@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="" class="movie__img img-fluid">
    
                  <p class="movie__title">Mulan</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BODIwMmQxNDktOWZjZC00NWI4LTg1NjktMGViOTE4ZTA4ZGY5XkEyXkFqcGdeQXVyNjg5MjU3NjE@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="" class="movie__img img-fluid">
    
                  <p class="movie__title">Spongebob Movie: Sponge On The Run</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BMzFiODE0ZDUtN2IxNC00OTI5LTg4OWItZTE2MjU4ZTk2NjM5XkEyXkFqcGdeQXVyNDYzODU1ODM@._V1_SY1000_CR0,0,674,1000_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">Black Widow</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BNzE5YzVjZmEtNGYwZi00YjljLWExMzYtZjlkYTk4NDc0MmI5XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_SX675_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">Free Guy</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BOTdiNjNjYTUtYzUxZC00NTljLWExYjktZmI0ODQ3ODg5N2U3XkEyXkFqcGdeQXVyNjg3MDMxNzU@._V1_SY1000_CR0,0,679,1000_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">Top Gun: Maverick</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BYzAyOGJkMzUtMmRjYS00NGJmLWExNGEtYzI2YjVmMmQzMzFiXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_SX675_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">Wonder Woman 1984</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BZmNlOTczOTktMzk3OC00N2RlLTg5NmEtYzNjODBiNzU1NDQxXkEyXkFqcGdeQXVyMjMxOTE0ODA@._V1_SY1000_SX675_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">Antebellum</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BMmE3OGY2NzMtMGJmOS00NGViLWI4NjYtMjhlNTMxZjA5MDExXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">A Quiet Place Part II </p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BNGEwMDU2ZDQtZmE5Zi00YjFiLWIwYWItOGMyMzY5MzljOWU3XkEyXkFqcGdeQXVyODk2NDQ3MTA@._V1_SY1000_CR0,0,685,1000_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">No Time to Die</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
    
              <div class="col-xl-3 col-lg-4 col-md-4 pt-3">
                <a href="#" class="movie">
                  <img src="https://m.media-amazon.com/images/M/MV5BN2IzNDI4ZjQtMDIwYy00MjcwLThjMTItYzc0ZGVjZThjNzAzXkEyXkFqcGdeQXVyMTE1MzI2NzIz._V1_SY1000_CR0,0,675,1000_AL_.jpg" class="movie__img img-fluid">
    
                  <p class="movie__title">Summerland</p>
                </a>  <!-- /.movie -->
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.container -->
      </section>  <!-- /.Movies -->