 <!-- Promos
  ============================================= -->

  <section class="section section--promos">
    <div class="container">

      <h2 class="section__title section__title--promo">
        Promos
      </h2>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-md-4">
          <div class="promo">
            <a href="#">
              <img src="img/promo1.jpg" alt="Promo" class="promo__img img-fluid">
            </a>
          </div>
        </div> <!-- /.col -->
        <div class="col-lg-4 col-md-4">
          <div class="promo">
            <a href="#">
              <img src="img/promo2.jpg" alt="Promo" class="promo__img img-fluid">
            </a>
            <a href="#">
              <img src="img/promo3.jpg" alt="Promo" class="promo__img img-fluid">
            </a>
          </div>
        </div> <!-- /.col -->

        <div class="col-lg-4 col-md-4">
          <ul class="promo-list">
            <li class="promo-list__item">
              <a href="#" class="promo-list__link">
                <span class="promo-list__title">Moviak Crown Club</span>
                <br>More Rewards Your Way!
              </a>
            </li>

            <li class="promo-list__item">
              <a href="#" class="promo-list__link">
                <span class="promo-list__title">RPX</span>
                <br>Experience the ultimate in movie sight and sound
              </a>
            </li>


            <li class="promo-list__item">
              <a href="#" class="promo-list__link">
                <span class="promo-list__title">ScreenX</span>
                <br>Beyond the frame
              </a>
            </li>

            <li class="promo-list__item">
              <a href="#" class="promo-list__link">
                <span class="promo-list__title">Lastest Trailers</span>
                <br>Watch The Latest Trailers!  
              </a>
            </li>

            <li class="promo-list__item">
              <a href="#" class="promo-list__link">
                <span class="promo-list__title">Specials & Promotions</span>
                <br>Find out more
              </a>
            </li>
          </ul> <!-- /.Promo-list -->
        </div> <!-- /.col -->
      </div>  <!-- /.row -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </section> <!-- /.promos -->

    <!-- Footer
  ============================================= -->

  <footer class="section section--footer">
    <div class="container footer">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <ul class="footer-menu">
            <li class="footer-menu__title">
                Corporate Sales
            </li>
            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Discount Movie Tickets
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Ultimate Movie Pack
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Private Screenings
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Theatre Church
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Business Events
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Group Sales
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                IMAX Education Screenings
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Birthday Parties
              </a>
            </li>
          </ul> <!-- /.menu -->
        </div> <!-- /.col -->
        <div class="col-lg-3 col-md-3">
          <ul class="footer-menu">
            <li class="footer-menu__title">
                About Moviak
            </li>
            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                About
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Moviak Crown Club
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Promotions
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Partners
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                FAQ
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Job Opportunities
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Privacy Policy
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Terms of Service
              </a>
            </li>
          </ul> <!-- /.menu -->
        </div> <!-- /.col -->

        <div class="col-lg-3 col-md-3">
          <ul class="footer-menu">
            <li class="footer-menu__title">
                Contact
            </li>
            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Contact Us
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Moviak's Coronavirus Response
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Community Affairs
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Summer Movie Express
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Stars of Hope
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Advertise With Regal
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Theatre Technologies
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Theatre List
              </a>
            </li>
          </ul> <!-- /.menu -->
        </div> <!-- /.col -->


        <div class="col-lg-3 col-md-3">
          <ul class="footer-menu">
            <li class="footer-menu__title">
               Stay in Touch
            </li>
            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Facebook
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Twitter
              </a>
            </li>


            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Youtube
              </a>
            </li>
          </ul> <!-- /.menu -->

          <ul class="footer-menu">
            <li class="footer-menu__title">
               Download The Regal App
            </li>
            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                Androind
              </a>
            </li>

            <li class="footer-menu__item">
              <a href="#" class="footer-menu__link">
                iOS
              </a>
            </li>
          </ul> <!-- /.menu -->
        </div> <!-- /.col -->
      </div>  <!-- /.row -->
      </div> <!-- /.row -->

      <p class="rights">All rights reserved Moviak Theatres 2020 ©</p>
    </div> <!-- /.container -->
  </footer> <!-- /.promos -->